<template>
    <div>
        <div class="header">
            <span v-if="open" @click="open = !open">&#x25B2; Collapse</span>
            <span v-if="!open" @click="open = !open">&#x25BC; Expand</span>
        </div>
        <!-- Toggleable -->
        <slot v-if="open">
        </slot>
    </div>
</template>

<script>
export default {
  name: 'CoollapsibleSection',
  data() {
    return { open: true };
  },
};
</script>

<style scoped>
    .header {
        background: #bbbbbb;
        padding: 3px;
        cursor: pointer;
    }
</style>
